{% extends 'base.html' %}
{% block title %}
About - {{ block.super }}
{% endblock title %}

{% block content %}
<h1>About The Coding Mama</h1>
<p>Deanna Jacobs is the mother of two active children, Ryden (4) and Eliana (2). Once in education, Deanna made the
    decision to transition to the IT world when the cost of childcare surpassed her take-home pay as a teacher. She and
    her children enjoy cooking together, exploring the local parks and playgrounds and destroying the car interior with
    sweet and sour sauce and apple juice. </p>
{% endblock content %}